@import url('./reset.css');
@import url('./fonts/fonts.css');
:root {
   --accent-color-: #18cfab;
}

* {
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', 'Arial', sans-serif;
   font-size: 14px;
   line-height: 30px;
   color: #717171;
}

.container {
   width: 1160px;
   margin: 0 auto;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* Кнопка */

.btn {
   color: #fff;
   font-weight: 700;
   font-size: 15px;
   line-height: 60px;
   text-transform: uppercase;
   text-align: center;
   border-radius: 5px;
   min-height: 60px;
   min-width: 165px;
   background-color: var(--accent-color-);
   display: inline-block;
   transition: .3s;
}

.btn-shadow {
   box-shadow: 0 -5px #fff;
}

.btn:hover {
   color: var(--accent-color-);
   background-color: #fff;
   box-shadow: 0 0 0 3px var(--accent-color-);
}

/* Заголовки секций */

.section-title {
   font-size: 36px;
   line-height: 40px;
   color: #4E4E4E;
   position: relative;
   text-align: center;
}

/* Полосочки под заголовками */

.section-title::before, .section-title::after {
   content: '';
   position: absolute;
   width: 75px;
   height: 1px;
   background-color: var(--accent-color-);
}

.section-title::before {
   bottom: -26px;
   left: calc(50% - 45px);
}

.section-title::after {
   bottom: -30px;
   right: calc(50% - 45px);
}

/* Подзагаловки */

.subtitle {
   font-size: 16px;
   line-height: 40px;
}

/* --------Хедер--------- */

.header {
   background: url("./img/header-bg.png") no-repeat;
   background-size: cover;
   background-attachment: fixed;
   height: 100vh;
   display: flex;
   flex-direction: column;
   margin-bottom: 14px;
}

/* Меню и лого */

.header__top {
   background: rgba(94, 93, 88, 0.6);
}

.header__top-inner {
   min-height: 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

/* Лого */

.header__logo {
   /* padding: 24px 0; */
   margin-right: 35px;
   cursor: pointer;
}

.logo__link {
   display: flex;
   align-items: center;
}

.logo__link::before {
   content: "H";
   position: absolute;
   font-size: 40px;
   line-height: 31px;
   font-weight: 700;
   color: #fff;
   left: 13px;
   top: 45px;
}

.logo__img {
   margin-right: 7px;
}

.logo__text {
   font-size: 32px;
   line-height: 48px;
   color: #fff;
}

.logo__text--bold {
   font-weight: 700;
   color: var(--accent-color-);
}

/* Меню */

.header__menu {
   display: flex;
}

.menu {
   display: flex;
   margin-right: 28px;
}

.menu__item+.menu__item {
   margin-left: 25px;
}

.menu__link {
   color: rgba(255, 255, 255, 0.6);
   font-size: 16px;
   line-height: 25px;
   font-weight: 700;
   text-transform: uppercase;
   padding: 46px 0;
   border-bottom: 2px solid transparent;
   transition: .3s;
}

/* Ховер эффект меню */

.menu__link:hover {
   color: var(--accent-color-);
   border-bottom: 2px solid var(--accent-color-);
}

/* Иконка поиска */

.search-icon {
   cursor: pointer;
   margin-top: 3px;
}

.search-icon:hover path {
   fill: var(--accent-color-);
   fill-opacity: 1;
   transition: .3s;
}

/* Заголовки в хедере*/

.header__bottom {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   justify-content: center;
}

.main-desc {
   text-align: center;
}

.main-desc__title, .main-desc__slogan {
   text-align: center;
   font-weight: 700;
   color: #fff;
   text-transform: uppercase;
}

.main-desc__title {
   margin-bottom: 22px;
   font-size: 35px;
}

.main-desc__title--colored {
   color: var(--accent-color-);
}

.main-desc__slogan {
   font-size: 78px;
   line-height: 80px;
   margin-bottom: 22px;
}

.main-desc__subtitle {
   font-size: 34px;
   line-height: 38px;
   color: #D4D4D4;
   text-transform: capitalize;
}

/* Кнопки */

.header__buttons {
   margin-top: 132px;
}

.main-desc__btn--blue {
   margin-left: 28px;
   background: #00CBF6;
}

.main-desc__btn--blue:hover {
   color: #00CBF6;
   background-color: #fff;
   box-shadow: 0 0 0 3px #00CBF6;
}

/* --------Оссобености---------- */

.features {
   margin-bottom: 92px;
}

.features__list {
   display: grid;
   grid-auto-flow: row;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 360px;
}

.features__item {
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   padding-top: 235px;
   text-transform: uppercase;
   text-align: center;
   display: flex;
   justify-content: center;
}

.features__item:nth-child(even) {
   background-color: var(--accent-color-);
   color: #fff;
   background-position: center 97px;
}

.features__item:nth-child(odd) {
   background-color: #1C2A33;
   color: var(--accent-color-);
   background-position: center 86px;
}

.feature--option {
   background: url('./img/feature-option.svg') no-repeat;
}

.feature--customize {
   background: url('./img/feature-customize.svg') no-repeat;
}

.feature--support {
   background: url('./img/feature-support.svg') no-repeat;
}

.feature--devices {
   background: url('./img/feature-devices.svg') no-repeat;
}

/* -------- Услуги--------- */

/* Заголовок */

.services {
   margin-bottom: 91px;
}

.services__title {
   margin-bottom: 100px;
}

/* Название табов */

.services__titles-list {
   display: flex;
   margin-bottom: 28px;
}

.service-title {
   flex-grow: 1;
   flex-basis: 0;
   background: #F8FCFE;
   border: 1px solid #EDEFEF;
   transition: .3s;
}

.service__title-text {
   display: block;
   width: 100%;
   text-align: center;
   line-height: 73px;
}

.service-title:hover {
   border: 1px solid var(--accent-color-);
}

.service-title.service--active {
   background-color: var(--accent-color-);
   border: 1px solid var(--accent-color-);
   color: #fff;
   position: relative;
}

.service-title.service--active::after {
   content: '';
   width: 24px;
   height: 12px;
   position: absolute;
   bottom: -10px;
   left: calc(50% - 12px);
   background: url('./img/service-arrow.svg') no-repeat;
}

/* Контент табов */

.service-text {
   display: none;
}

.service-text__img {
   object-fit: cover;
   object-position: center;
   width: 192px;
   height: 139px;
   margin-right: 15px;
}

.services__texts-list .service--active {
   display: flex;
}

.service-text__content {
   line-height: 24px;
   font-weight: 300;
   color: #777;
}

/*-----------Лид------- */

.lead {
   background: url('./img/section-2.jpg') no-repeat;
   background-position: center 45%;
   /* background-attachment: fixed; */
   background-color: rgba(28, 42, 51, 0.79);
   background-blend-mode: multiply;
   width: 100%;
   min-height: 476px;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
}

.lead__title {
   font-weight: 700;
   font-size: 40px;
   line-height: 40px;
   text-transform: uppercase;
   color: var(--accent-color-);
   text-align: center;
   margin-bottom: 12px;
}

.lead__subtitle {
   margin-bottom: 68px;
   color: #d8d8d8;
}

/* ----------Наши работы---------- */

.works {
   background-color: #E9EDEF;
   padding: 95px 0 100px;
   margin-bottom: 84px;
}

.works__title {
   margin-bottom: 97px;
}

/* Фильтр табы */

.filter {
   display: flex;
   width: 582px;
   margin: 0 auto;
}

.works__filter-list {
   margin-bottom: 70px;
}

.filter__title {
   border: 1px solid #DADADA;
   flex-grow: 1;
}

.filter__title--active {
   color: var(--accent-color-);
   border: 2px solid var(--accent-color-);
}

.filter__title:nth-child(1) .filter__link {
   padding: 0 27px;
}

.filter__link {
   display: block;
   line-height: 58px;
   text-align: center;
   padding: 0 15px;
}

/* Контент табы  */

.works__content-list {
   display: grid;
   grid-template-columns: repeat(4, 290px);
   grid-auto-rows: 206px;
   margin-bottom: 70px;
}

.content__item {
   position: relative;
}

.content__item:hover .content-block {
   opacity: 1;
   transition: opacity .3s ease-in;
}

.content-block {
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 290px;
   height: 206px;
   background-color: #E9EDEF;
   border-top: 2px solid var(--accent-color-);
   opacity: 0;
   transition: opacity .3s ease-in;
}

.content__item-img {
   width: 290px;
   height: 206px;
   object-fit: cover;
}

/* круглые ссылки */

.content-block__links {
   display: flex;
   margin-bottom: 30px;
}

.content__item-link {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   border: 1px solid var(--accent-color-);
   transition: .3s;
}

.content__item-link:hover {
   background-color: var(--accent-color-);
}

/* Изображения на ссылках */

.content-block__source, .content-block__play {
   position: relative;
}

.content__item-link:hover svg {
   fill: #fff;
}

/* Иконка ссылка */

.content-block__source-img {
   position: absolute;
   top: 13px;
   left: 13px;
}

/* Иконка play */

.content-block__play {
   margin-left: 4px;
}

.content__block__play-img {
   position: absolute;
   background-color: var(--accent-color-);
   top: calc(50% - 5px);
   left: calc(50% - 6px);
}

/* Текст карточки при ховере */

.content__item-title {
   line-height: 25px;
   font-weight: 700;
   text-transform: uppercase;
   color: var(--accent-color-);
}

.content__item-subtitle {
   font-size: 12px;
   font-weight: 300;
   line-height: 20px;
   color: #8a8a8a;
}

/* Кнопка догрузки */

.works__btn-load {
   margin-left: calc(50% - 82px);
   position: relative;
}

.works__btn-load svg {
   position: absolute;
   top: 21px;
   left: 21px;
}

.works__btn-load span {
   margin-left: 25px;
   font-size: 14px;
}

.works__btn-load:hover svg {
   fill: var(--accent-color-);
}

/* ----------Новости------------ */

.news {
   margin-bottom: 130px;
}

.news__list {
   display: grid;
   grid-template-columns: repeat(4, 263px);
   grid-auto-rows: 280px;
   column-gap: 35px;
   row-gap: 45px;
}

.news__item {
   position: relative;
}

.news__item:hover .news__item-date {
   background-color: var(--accent-color-);
   color: #fff;
}

.news__item:hover .news__item-title {
   color: var(--accent-color-);
}

.news__title {
   margin-bottom: 100px;
}

.news__item-title {
   font-size: 18px;
   font-weight: 700;
   color: #717171;
   line-height: 30px;
   padding-left: 16px;
   transition: .3s;
}

.news__item-sibtitle {
   color: #777777;
   font-weight: 300;
   padding-left: 16px;
}

.news__item-comments {
   margin-left: 30px;
   position: relative;
}

.news__item-comments::before {
   content: '';
   top: 3px;
   left: -16px;
   position: absolute;
   height: 13px;
   width: 1px;
   background-color: #777;
}

.news__item-date {
   position: absolute;
   top: 0;
   right: 0;
   width: 67px;
   height: 65px;
   background: #203E38;
   color: #fff;
   font-size: 16px;
   line-height: 25px;
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   transition: .3s;
}

/* ---------Комментарии----------- */

.comments {
   background: url('/img/section-3.jpg') no-repeat;
   background-position: center;
   width: 100%;
   /* height: 853px; */
   padding: 100px 0;
   /* background-attachment: fixed; */
   background-color: rgba(3, 35, 44, 0.4);
   background-blend-mode: multiply;
}

.comments__block {
   display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 1160px;
   overflow: hidden;
}

.comments__title {
   color: #fff;
   margin-bottom: 40px;
}

.comments__photos {
   display: flex;
   padding-top: 52px;
}

.comments__photos-item {
   cursor: pointer;
   transition: .4s;
}

.comments__photos-item+.comments__photos-item {
   margin-left: 27px;
}

.comments__photos-item.comments--active {
   transform: translateY(-10px);
}

.comments__photos-img {
   border: 5px solid rgba(31, 218, 181, 0.2);
   border-radius: 50%;
   display: block;
}

.comments__photo--sm {
   width: 70px;
   height: 70px;
   object-fit: cover;
   object-position: center;
}

/* Текст комментария */

.slider-line {
   width: 1160px;
   overflow: hidden;
   transform: translateX(0);
}

.comments__content {
   display: flex;
   justify-content: center;
   width: calc(1160px * 4);
   transition: .5s ease-in-out;
   position: relative;
   padding-top: 60px;
}

.comments__content-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 1160px;
   justify-content: center;
   position: relative;
   padding-top: 60px;
}

.comments__content-item.comments--active{
   transform: translateX(0);
}
.comments__content-text {
   color: #bbb;
   line-height: 30px;
   font-weight: 300;
   margin-bottom: 22px;
   text-align: center;
}

.comments__content-item::before {
   content: "";
   position: absolute;
   top: 0;
   left: calc(50% - 24px);
   width: 45px;
   height: 31px;
   background: url('./img/comment-icon.svg') no-repeat;
}

.comments__content-name {
   font-weight: 700;
   font-size: 16px;
   line-height: 27px;
   text-transform: uppercase;
   color: var(--accent-color-);
}

.comments__content-position {
   color: #bbb;
   margin-bottom: 30px;
}

.comments__content-photo {
   height: 162px;
   width: 162px;
   object-fit: cover;
   border-width: 10px;
}

/* Кнопки слайдера */

.comments__btn {
   position: absolute;
   border: 1px solid #BBBBBB;
   background-color: transparent;
   width: 31px;
   height: 31px;
   cursor: pointer;
   transition: .3s;
}

.comments__btn svg {
   position: absolute;
   top: 8px;
   left: 10px;
}

.comments__btn:hover {
   background-color: var(--accent-color-);
}

.comments__btn:hover svg {
   fill: #fff;
}

.comments__btn--prev {
   bottom: 18px;
   left: 29%;
}

.comments__btn--next {
   bottom: 18px;
   right: 29%;
}

/* Футер */

.footer {
   background: #22353F;
   padding: 45px 0;
}

.footer__text {
   line-height: 26px;
   color: #AEAEAE;
   text-align: center;
}

.footer__text span {
   color: var(--accent-color-);
}